//$ordinary:#FF5722;
////$all_done:#FFAB91;
////$add_todo:#FF7043;
$all_done: #66bb6a;
$add_todo: #26a69a;
//$all_done:#FF8A65;
$ordinary: $add_todo;
////$hover: #ff5722;
$hover:#00897B;
$container: #bdbdbd;
$body: #e0e0e0;
$tab: white;
$info: white;
$select_board: $ordinary;
//$add_btn:#FFB300;
$add_btn: $ordinary;
$todo: #f5f5f5;
$task: $todo;
$div_header: $todo;
$input_task: white;
//$outer_todos
