@import "./media_query";
@import "./colors";
@import "./tab";
body{    
    background-color: $body;
    //font-family: "Comic Sans MS", cursive, sans-serif;
    font-family: 'Times New Roman', Times, serif;
    .total{
        display: flex;
        justify-content: center;
        .partToDo{
            background-color: $container;
            border:1px solid black;
            border-radius: 20px;
            position: absolute;
            padding: 30px;
            .title{
                text-align: center;
                position: relative;
            }
            .container{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                background-color:$body;
                border-radius: 15px;
                border: #000000;
                padding-left: 20px;
                padding-top:20px;
                padding-right: 20px;
                padding-bottom: 20px;
                margin-top: 10px;
                .boards{
                    background-color: $add_todo;
                    border:$body;
                    border-radius: 15px;
                    display:flex;
                    flex-wrap: wrap;
                    padding-right: 20px;
                    padding-top: 20px;
                    padding-left: 5px;
                    margin-bottom: 10px;
                    .board{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        //border:1px solid black;
                        background-color:white;
                        width: 220px;
                        min-width: 220px;
                        height: 350px;
                        padding-left : 15px;
                        padding-top : 10px;
                        padding-right :15px;
                        padding-bottom: 20px;   
                        border-radius: 15px;
                        margin-left: 15px;
                        margin-bottom: 20px;
                        .Done{
                            font-style: oblique;
                            font-size:35px;
                            line-height: 1.6em; 
                            text-align: center;
                            visibility: hidden;
                            color: $all_done; 
                            }
                        h{
                            text-align: center;
                            font-style: oblique;
                            font: "Times New Roman", Times, serif;
                            font-size:22px;
                            line-height: 1.6em;
                        }
                    }
                    .Done_visible{
                        .Done{
                            visibility: visible;
                        }
                        
                    }
                    .dots{ 
                        flex-wrap: wrap;
                        display:flex;
                        flex-flow: row-reverse;
                        height: 30px;
                        width: 100%;
                        .dot1 {
                            display:inline-block;
                            height: 30px;
                            width: 30px;
                            background-color: #000000;
                            border-radius: 50%;
                            }
                        .dot2 {
                            height: 30px;
                            width: 30px;
                            display:inline-block;
                            background-color:#ffebcD;
                            border-radius: 50%;
                            margin-right: -12.5px;
                            }
                        .dot3 {
                            display:inline-block;
                            height: 30px;
                            width: 30px;
                            background-color: #7fffd4;
                            border-radius: 50%;
                            margin-right: -12.5px;
                            }
                        .dot4 {
                            display:inline-block;
                            height: 30px;
                            width: 30px;
                            background-color:#f00fff;
                            border-radius: 50%;
                            margin-right: -12.5px;
                            }
                    }
                } 
                .description-box{
                    border:solid $all_done;
                    background-color:$all_done;
                    margin-bottom: 5px;
                    width:300px;
                    height: 140px;
                    margin-left: 5px;
                    padding-right: 10px;
                    box-sizing: border-box;
                    ul{
                        li{
                            color: #FFF0F5;
                        }
                    }
                    @include breakpoint(medium){
                        order: -1;
                    }
                    @include breakpoint(small){
                        order: -1;
                    }
                    @include breakpoint(xsmall){
                        order: -1;
                    }

                }
            }
        }
    }    
}