/*@mixin windowWidth(){
    width=window.innerWidth;
}*/
body .tab {
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  height: 50px; }
  body .tab button {
    color: #00897B;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 0px 16px;
    height: 99.5%;
    border-radius: 10px; }
  body .tab .dashboard {
    background-color: inherit; }
  body .tab .boards {
    background-color: inherit; }
  body .tab .todos {
    background-color: #26a69a;
    color: white; }

body {
  background-color: #e0e0e0;
  font-family: 'Times New Roman', Times, serif; }
  body .total {
    display: flex;
    justify-content: center; }
    body .total .partToDo {
      background-color: #bdbdbd;
      border: 1px solid black;
      border-radius: 20px;
      position: absolute;
      padding: 30px; }
      body .total .partToDo .title {
        text-align: center;
        position: relative; }
      body .total .partToDo .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        background-color: #e0e0e0;
        border-radius: 15px;
        border: #000000;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        margin-top: 10px; }
        body .total .partToDo .container .boards {
          background-color: #26a69a;
          border: #e0e0e0;
          border-radius: 15px;
          display: flex;
          flex-wrap: wrap;
          padding-right: 20px;
          padding-top: 20px;
          padding-left: 5px;
          margin-bottom: 10px; }
          body .total .partToDo .container .boards .board {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: white;
            width: 220px;
            min-width: 220px;
            height: 350px;
            padding-left: 15px;
            padding-top: 10px;
            padding-right: 15px;
            padding-bottom: 20px;
            border-radius: 15px;
            margin-left: 15px;
            margin-bottom: 20px; }
            body .total .partToDo .container .boards .board .Done {
              font-style: oblique;
              font-size: 35px;
              line-height: 1.6em;
              text-align: center;
              visibility: hidden;
              color: #66bb6a; }
            body .total .partToDo .container .boards .board h {
              text-align: center;
              font-style: oblique;
              font: "Times New Roman", Times, serif;
              font-size: 22px;
              line-height: 1.6em; }
          body .total .partToDo .container .boards .Done_visible .Done {
            visibility: visible; }
          body .total .partToDo .container .boards .dots {
            flex-wrap: wrap;
            display: flex;
            flex-flow: row-reverse;
            height: 30px;
            width: 100%; }
            body .total .partToDo .container .boards .dots .dot1 {
              display: inline-block;
              height: 30px;
              width: 30px;
              background-color: #000000;
              border-radius: 50%; }
            body .total .partToDo .container .boards .dots .dot2 {
              height: 30px;
              width: 30px;
              display: inline-block;
              background-color: #ffebcD;
              border-radius: 50%;
              margin-right: -12.5px; }
            body .total .partToDo .container .boards .dots .dot3 {
              display: inline-block;
              height: 30px;
              width: 30px;
              background-color: #7fffd4;
              border-radius: 50%;
              margin-right: -12.5px; }
            body .total .partToDo .container .boards .dots .dot4 {
              display: inline-block;
              height: 30px;
              width: 30px;
              background-color: #f00fff;
              border-radius: 50%;
              margin-right: -12.5px; }
        body .total .partToDo .container .description-box {
          border: solid #66bb6a;
          background-color: #66bb6a;
          margin-bottom: 5px;
          width: 300px;
          height: 140px;
          margin-left: 5px;
          padding-right: 10px;
          box-sizing: border-box; }
          body .total .partToDo .container .description-box ul li {
            color: #FFF0F5; }
          @media (max-width: 992px) {
            body .total .partToDo .container .description-box {
              order: -1; } }
          @media (max-width: 768px) {
            body .total .partToDo .container .description-box {
              order: -1; } }
          @media (max-width: 480px) {
            body .total .partToDo .container .description-box {
              order: -1; } }

/*@mixin windowWidth(){
    width=window.innerWidth;
}*/
body .tab {
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  height: 50px; }
  body .tab button {
    color: #00897B;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 0px 16px;
    height: 99.5%;
    border-radius: 10px; }
  body .tab .dashboard {
    background-color: inherit; }
  body .tab .boards {
    background-color: inherit; }
  body .tab .todos {
    background-color: #26a69a;
    color: white; }

body {
  background-color: #e0e0e0;
  font-family: 'Times New Roman', Times, serif; }
  body .total {
    display: flex;
    justify-content: center; }
    body .total .partToDo {
      background-color: #bdbdbd;
      border: 1px solid black;
      border-radius: 20px;
      position: absolute;
      padding: 30px; }
      body .total .partToDo .title {
        text-align: center;
        position: relative; }
      body .total .partToDo .boardss {
        padding: 10px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        height: 300px;
        min-width: 200px;
        background-color: white;
        margin: 10px; }
        body .total .partToDo .boardss .boardProp {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-grow: 1;
          padding: 3%;
          width: 50%;
          height: 250px;
          min-width: 95px;
          margin: 10px; }
          @media (max-width: 1200px) {
            body .total .partToDo .boardss .boardProp {
              padding: 0px;
              margin: 1px; } }
          body .total .partToDo .boardss .boardProp ul {
            margin-left: 2%;
            /*  list-style-position: outside;*/
            font-family: "Comic Sans MS", cursive, sans-serif;
            color: black; }
            @media (max-width: 480px) {
              body .total .partToDo .boardss .boardProp ul {
                font-size: 13px;
                margin-left: 0px;
                list-style-position: unset; } }
  body div {
    box-sizing: border-box;
    border-radius: 10px; }
  body .buttonDesign {
    /*background-image: url("background7.jpg");*/
    background-color: #26a69a;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 40px;
    align-items: center;
    border-color: white; }
    @media (max-width: 768px) {
      body .buttonDesign {
        font-size: 15px;
        padding: 0px;
        size: 5px; } }
  body h4 {
    margin-left: 5%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: grey; }

/* @media only screen and (max-width:590px) {*/
/*  .boardProp{
     padding: 0px;
     margin: 1px;
   }
    ul{
      font-size: 13px;
      margin-left: 0px;
      list-style-position: unset;
    }
   .buttonDesign{
    font-size: 15px;
    padding:0px;
    size: 5px;
   }
  
}*/
/*@mixin windowWidth(){
    width=window.innerWidth;
}*/
body .tab {
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  height: 50px; }
  body .tab button {
    color: #00897B;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 0px 16px;
    height: 99.5%;
    border-radius: 10px; }
  body .tab .dashboard {
    background-color: inherit; }
  body .tab .boards {
    background-color: inherit; }
  body .tab .todos {
    background-color: #26a69a;
    color: white; }

body {
  background-color: #e0e0e0;
  font-family: 'Times New Roman', Times, serif; }
  body .total {
    display: flex;
    justify-content: center; }
    body .total .partToDo {
      background-color: #bdbdbd;
      border: 1px solid black;
      border-radius: 20px;
      position: absolute;
      padding: 30px; }
      body .total .partToDo .title {
        text-align: center;
        position: relative; }
      body .total .partToDo .container_todo {
        padding-top: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #e0e0e0;
        border-radius: 10px;
        margin: 10px 0px;
        /*.total_todos {
          border-radius: 10px;
          margin: 10px;
          background-color: white;
          border: 1px solid black;*/ }
        body .total .partToDo .container_todo .info {
          display: flex;
          background-color: white;
          border-radius: 10px;
          padding: 5px 5px 5px 0px;
          margin: 0px 20px 10px 20px; }
          @media (max-width: 768px) {
            body .total .partToDo .container_todo .info {
              font-size: 14px; } }
          @media (max-width: 480px) {
            body .total .partToDo .container_todo .info {
              font-size: 12px; } }
          @media (max-width: 330px) {
            body .total .partToDo .container_todo .info {
              font-size: 10px; } }
          body .total .partToDo .container_todo .info .board_info {
            flex-grow: 1;
            padding: 10px 0px 10px 10px; }
            @media (max-width: 480px) {
              body .total .partToDo .container_todo .info .board_info {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; } }
          body .total .partToDo .container_todo .info .select_board {
            width: 70px;
            margin-right: 10px;
            border-radius: 10px;
            background-color: #26a69a;
            color: white; }
        body .total .partToDo .container_todo .total_todos {
          background-color: white;
          border-radius: 10px;
          margin: 0px 20px 10px 20px; }
          body .total .partToDo .container_todo .total_todos .todo {
            border-color: #e0e0e0;
            border-width: 1px;
            border-style: solid;
            background-color: #e0e0e0;
            float: left;
            width: 220px;
            height: 280px;
            margin: 30px 15px;
            padding: 10px;
            border-radius: 20px; }
            @media (max-width: 768px) {
              body .total .partToDo .container_todo .total_todos .todo {
                margin: 20px 10px;
                font-size: 14px; } }
            @media (max-width: 480px) {
              body .total .partToDo .container_todo .total_todos .todo {
                margin: 10px 5px;
                font-size: 12px; } }
            body .total .partToDo .container_todo .total_todos .todo .header {
              color: white;
              text-align: center;
              padding: 5px 0px 5px 0px;
              background-color: #26a69a;
              margin-bottom: 10px;
              border-radius: 10px; }
            body .total .partToDo .container_todo .total_todos .todo .all_done {
              background-color: #66bb6a; }
            body .total .partToDo .container_todo .total_todos .todo .todo_container {
              padding: 5px 5px 0px 5px;
              background-color: white;
              border-radius: 8px;
              height: 220px;
              overflow: auto; }
              body .total .partToDo .container_todo .total_todos .todo .todo_container .add_task {
                display: flex;
                padding: 5px;
                background-color: #f5f5f5;
                border-radius: 15px;
                border: 1px solid #e0e0e0;
                /*.add_btn:hover {
                        background: grey;
                    }*/ }
                body .total .partToDo .container_todo .total_todos .todo .todo_container .add_task .textInput {
                  width: 80%;
                  height: 25px;
                  margin: 0 auto;
                  border: 2px solid #e0e0e0;
                  border-top-left-radius: 8px;
                  border-bottom-left-radius: 8px;
                  flex-grow: 1; }
                body .total .partToDo .container_todo .total_todos .todo .todo_container .add_task .add_btn {
                  background: #26a69a;
                  font-weight: bold;
                  color: white;
                  margin: 0 auto;
                  height: 25px;
                  cursor: pointer;
                  width: 20%;
                  border-top-right-radius: 8px;
                  border-bottom-right-radius: 8px;
                  padding: 3px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 14px; }
              body .total .partToDo .container_todo .total_todos .todo .todo_container ul {
                padding: 0px;
                list-style-type: none; }
                body .total .partToDo .container_todo .total_todos .todo .todo_container ul li {
                  display: flex;
                  padding-top: 3px;
                  padding-bottom: 3px;
                  border-radius: 10px;
                  border-color: #e0e0e0;
                  background-color: #f5f5f5;
                  border-width: 1px;
                  border-style: solid;
                  margin: 3px 0px 3px 0px;
                  align-items: center;
                  /*                            input:checked> li{
                                                    border-color:#ddd;
                                                }*/ }
                  body .total .partToDo .container_todo .total_todos .todo .todo_container ul li .task {
                    flex-grow: 1;
                    text-align: center; }
                  body .total .partToDo .container_todo .total_todos .todo .todo_container ul li input:checked + .task {
                    opacity: 0.5;
                    text-decoration: line-through; }
                  body .total .partToDo .container_todo .total_todos .todo .todo_container ul li img {
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    padding-right: 2px; }
                body .total .partToDo .container_todo .total_todos .todo .todo_container ul li:hover {
                  background: #ddd; }
          body .total .partToDo .container_todo .total_todos .add_todo {
            border-color: #ddd;
            border-width: 1px;
            border-style: solid;
            background-color: #26a69a;
            float: left;
            cursor: pointer;
            width: 220px;
            height: 280px;
            margin: 30px 15px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            text-align: center; }
            @media (max-width: 768px) {
              body .total .partToDo .container_todo .total_todos .add_todo {
                margin: 20px 10px;
                font-size: 14px; } }
            @media (max-width: 480px) {
              body .total .partToDo .container_todo .total_todos .add_todo {
                margin: 10px 5px;
                font-size: 12px; } }
            body .total .partToDo .container_todo .total_todos .add_todo h1 {
              color: white;
              font-weight: bold; }
          body .total .partToDo .container_todo .total_todos .add_todo:hover {
            background-color: #00897B; }

/* position: relative;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
    
    
                            input {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                height: 0;
                                width: 0;
                            }
    
                            label {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 25px;
                                width: 25px;
                                background-color: #eee;
                                border-radius:50%;
                            }
                            
                            &:hover input + label {
                                background-color: orangered;
                            }
    
                            input:checked + label {
                                background-color: #2196F3;
                            }
    
                            label:after {
                                content: "";
                                position: absolute;
                                display: none;
                
                            }
    
                            input:checked ~ .task:after {
                                display: block;
                            }
    
                            label:after {
                                left: 9px;
                                top: 5px;
                                width: 5px;
                                height: 10px;
                                border: solid white;
                                border-width: 0 3px 3px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                            */
